.Box {
    background-image: url('../../../assets/pixBackground.gif');
    background-size: cover;
    
}

.text{
    
        font-size: 30px;
        
        line-height: 44px;
        margin-top: 20px;
        border-radius: 30px;
        background-color: rgba(158, 148, 184, 0.702);
        color: rgb(59, 43, 98);
        position: relative;top: -240px; left: 250px;
        box-shadow: 1px 1px 0 0.5 rgba(0, 0,0,0.3);
        border-left: 10px solid transparent;
        border-right: 10px solid ;
        padding: 8px;

}
.text::before{
    content: '';
    border-bottom: 8px solid rgb(115, 66, 111);
    position: absolute;
    border-left:8px solid transparent ;
    border-right: 8px solid transparent;
    margin-top: -16px;
    margin-left: 10px;

}