.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connectionForm{
    display: flex;
    flex-direction: column;

}

.connectionFormLogo {
    width: 30%;
    height: 30%;
}

.connectionBrand {
    margin-bottom: 3rem;
    font-family: var(--pixel-font);
    font-size: var(--h1-font-size);
}

.MuiInputBase-root {
    margin-bottom: 0.5rem;
}